<nav class="navbar navbar-light" style="background-color: #4FB3FF; " >
  <a class="navbar-brand" routerLink="/buttons" routeLinkActive="active" style="color:rgb(255, 255, 255)">
    <img src="../../../assets/usuario.png" width="30" height="30" class="d-inline-block align-top" alt="">
    WEB OCTAVIO PAZ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" align="right">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/userprofile" routeLinkActive="active">Perfil</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div>
  <h1>REGISTRO LECTURAS</h1>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Lecturas</h5>
          <form #lecturaForm="ngForm" (ngSubmit)="addLectura(lecturaForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="lecturaService.selectedLectura._id">
            <div class="">
              <div class="form-label-group">
                <!-- <input type="text" name="name" #name="ngModel" [(ngModel)]="lecturaService.selectedLectura.name"
                  class="form-control"> -->
                  <!-- <label>Nombre Alumno</label> -->
                  <select class="form-control" name="alumno" #alumno="ngModel" [(ngModel)]="lecturaService.selectedLectura.alumno">
                    <option *ngFor="let item of alumnos" value="{{item._id}}">
                      {{item.name}}
                    </option>
                  </select>
                
              </div>
              <div class="form-label-group">
                <input type="text" name="palabras" #palabras="ngModel" [(ngModel)]="lecturaService.selectedLectura.palabras"
                  class="form-control">
                <label>Numero de palabras</label>
              </div>
              <div class="form-label-group">
                <input type="text" name="segundos" #segundos="ngModel" [(ngModel)]="lecturaService.selectedLectura.segundos"
                  class="form-control">
                <label>Numero de segundos</label>
              </div>
              <div class="form-label-group">
                <input type="text" name="velocidad" #velocidad="ngModel"
                  [(ngModel)]="lecturaService.selectedLectura.velocidad" class="form-control">
                <label>Velocidad</label>
              </div>
              <div class="card-action">
                <div class="">
                    <button class="btn btn-primary " type="submit" style="margin-left: 2px; ">Guardar</button>
                    <button class="btn btn-primary " type="submit" style="margin-left: 6px;" (click)="resetForm(lecturaForm)">Limpiar</button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7" id="tblData">
      <table id="example" class="table display compact AllDataTables" cellspacing="0" style="width:100%">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Palabras</th>
            <th>Segundos</th>
            <th>Velocidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lectura of lecturas">
            <td>{{ lectura.name }}</td>
            <td>{{ lectura.palabras }}</td>
            <td>{{ lectura.seg }}</td>
            <td>{{ lectura.vel }}</td>
            <td>
              <a (click)="editLectura(lectura)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteLectura(lectura.id, lecturaForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>