<div class="container">
    <div *ngIf="iNumero==1">
      <h1>Listado de alumnos</h1>
      <table class="table display compact AllDataTables" cellspacing="0" style="width:100%">
        <thead class="thead-dark">
          <tr>
            <th style="text-align: center">Alumno</th>
            <th style="text-align: center">Gráfico</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lectura of alumnos">
            <td style="text-align: center">{{ lectura.name }}</td>
            <td style="text-align: right">
              <button (click)="verGrafica(lectura.id)" class="btn btn-primary">Ver gráfica</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
    <div *ngIf="iNumero==2">
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <button class="btn btn-primary" (click)="regresar()">Regresar</button>
</div>