<nav class="navbar navbar-light" style="background-color: #4FB3FF; " >
  <a class="navbar-brand" routerLink="/buttons" routeLinkActive="active" style="color:rgb(255, 255, 255)">
    <p id="icon" width="30" height="30" style="text-shadow: rgb(55, 125, 179) 0px 0px 0px, rgb(57, 129, 184) 1px 1px 0px, rgb(58, 132, 189) 2px 2px 0px, rgb(60, 136, 194) 3px 3px 0px, rgb(62, 140, 199) 4px 4px 0px, rgb(63, 143, 204) 5px 5px 0px, rgb(65, 147, 209) 6px 6px 0px, rgb(66, 150, 214) 7px 7px 0px, rgb(68, 154, 219) 8px 8px 0px, rgb(70, 158, 224) 9px 9px 0px, rgb(71, 161, 230) 10px 10px 0px, rgb(73, 165, 235) 11px 11px 0px, rgb(74, 168, 240) 12px 12px 0px, rgb(76, 172, 245) 13px 13px 0px, rgb(77, 175, 250) 14px 14px 0px; font-size: 35px; color: rgb(255, 255, 255); height: 109px; width: 109px; line-height: 109px; border-radius: 48%; text-align: center; background-color: rgb(79, 179, 255);"> Octavio Paz </p>   
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" align="right">
    
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/userprofile" routeLinkActive="active">Perfil</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<!--Projects section v.1-->


<!--Section heading-->

<h2 class="text-center h1 py-5">
  <strong>PANEL DE ADMINISTRACIÓN</strong>
</h2>
<!--Grid row-->
<div class="row text-center">
  
  
    <div class="col-lg-6 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="../../../assets/usuario.png" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light"  mdbWavesEffect routeLinkActive="active"  routerLink="/employee" >
            <mdb-icon far icon="clone" class="left"></mdb-icon> Alumno</a>
        </mdb-card-body>
  
  
      </div>
      <div class="col-lg-6 col-md-6 mb-4">

          <!--Featured image-->
          <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
            <img src="../../../assets/usuarioss.png" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Excerpt-->
          <mdb-card-body class="mt-3">
            <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect routerLink="/usuarios" routeLinkActive="active">
              <mdb-icon far icon="clone" class="left"></mdb-icon> Mostrar usuarios</a>
          </mdb-card-body>
      
      
        </div>
  <!--MOBILIARIOS-->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Featured image-->
    <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
      <img src="../../../assets/mobilarios.png" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
      
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Excerpt-->
    <mdb-card-body class="mt-3">
      <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect routerLink="/mobiliarios" routeLinkActive="active">
        <mdb-icon far icon="clone" class="left"></mdb-icon> Mobiliarios</a>
    </mdb-card-body>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Featured image-->
    <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
      <img src="../../../assets/libros.png" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Excerpt-->
    <mdb-card-body class="mt-3">
      <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect routerLink="/libros" routeLinkActive="active">
        <mdb-icon far icon="clone" class="left"></mdb-icon> Libros</a>
    </mdb-card-body>


  </div>
  <!--Grid column-->

  <div class="col-lg-4 col-md-6 mb-4">

    <!--Featured image-->
    <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
      <img src="../../../assets/intendencias.svg" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Excerpt-->
    <mdb-card-body class="mt-3">
      <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect routerLink="/intendencias" routeLinkActive="active">
        <mdb-icon far icon="clone" class="left"></mdb-icon> Intendencias</a>
    </mdb-card-body>


  </div>

  

  <div class="col-lg-6 col-md-6 mb-4">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
        <img src="../../../assets/rapidez.svg" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <a mdbBtn color="indigo" size="sm" class="waves-light" target="_blank" mdbWavesEffect href="http://www.disanedu.com/aplicaciones/competencia-lectora/acciones/textos/cuentos/velocidadtest.html" >
          <mdb-icon far icon="clone" class="left"></mdb-icon> Rapidez lectora</a>
      </mdb-card-body>


    </div>

    <div class="col-lg-6 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="../../../assets/agenda.png" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light"  mdbWavesEffect routerLink="/lectura" >
            <mdb-icon far icon="clone" class="left"></mdb-icon> Registro Rapidez lectora</a>
        </mdb-card-body>
  
  
      </div>
      <div class="col-lg-4 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="../../../assets/intendencias.svg" width="256px" height="256px"  ng-fallimg class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
    
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect routerLink="/dona" routeLinkActive="active">
            <mdb-icon far icon="clone" class="left"></mdb-icon> graficas</a>
        </mdb-card-body>
    
    
      </div>
     
</div>
<!--Grid row-->



